body {
  font-family: Verdana;
  font-size: 10pt;
  color: #828282; 
}

td {
  font-family: Verdana;
  font-size: 10pt;
  color: #828282;
}

.center-text {
  text-align: center;
}

.site-header {
  background-color: #8BC34A;
}

.site-header a {
  color: white;
}

.site-header .site-title {
  color: white;
}

.site-title {
  font-size: 13pt;
  font-weight: bold;
}

.site-footer, .footer-col {
  font-size: 9pt;
  text-align: center;
}

input {
  font-family: Courier;
  font-size: 10pt;
  color: #000000;
}

/* From stamplay */
body  { font-family:Verdana; font-size:10pt; color:#828282; }
td    { font-family:Verdana; font-size:10pt; color:#828282; }

.admin td   { font-family:Verdana; font-size:8.5pt; color:#000000; }
.subtext td { font-family:Verdana; font-size:  7pt; color:#828282; }

input    { font-family:Courier; font-size:10pt; color:#000000; }
input[type=\"submit\"] { font-family:Verdana; }
textarea { font-family:Courier; font-size:10pt; color:#000000; }

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

.default { font-family:Verdana; font-size: 10pt; color:#828282; }
.admin   { font-family:Verdana; font-size:8.5pt; color:#000000; }
.title   { font-family:Verdana; font-size: 10pt; color:#828282; }
.adtitle { font-family:Verdana; font-size:  9pt; color:#828282; }
.subtext { font-family:Verdana; font-size:  7pt; color:#828282; }
.yclinks { font-family:Verdana; font-size:  8pt; color:#828282; }
.pagetop { font-family:Verdana; font-size: 10pt; color:#ffffff; }
.comhead { font-family:Verdana; font-size:  8pt; color:#828282; }
.comment { font-family:Verdana; font-size:  9pt; }
.dead    { font-family:Verdana; font-size:  9pt; color:#dddddd; }

.comment a:link, .comment a:visited { text-decoration:underline;}
.dead a:link, .dead a:visited { color:#dddddd; }
.pagetop a, .pagetop a:visited { color:#ffffff;}
.topsel a:link, .topsel a:visited { color:#ffffff; }

.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }

.comhead a:link, .subtext a:visited { color:#828282; }
.comhead a:hover { text-decoration:underline; }

.default p { margin-top: 8px; margin-bottom: 0px; }

.pagebreak {page-break-before:always}

pre { overflow: auto; padding: 2px; max-width:600px; }
pre:hover {overflow:auto}

.votearrow {
  width:      20px;
  height:     12px;
  border:     0px;
  margin:     3px 2px 6px;
  background: url("../images/grayarrow2x.gif")
  no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .votearrow { background-size: 10px; background-image: url("../images/grayarrow2x.gif"); }
}

.rotate180 {
  -webkit-transform: rotate(180deg);  /* Chrome and other webkit browsers */
  -moz-transform:    rotate(180deg);  /* FF */
  -o-transform:      rotate(180deg);  /* Opera */
  -ms-transform:     rotate(180deg);  /* IE9 */
  transform:         rotate(180deg);  /* W3C complaint browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

/* stamplay.css */
#table-container{
  border : 0px;
  cellpadding : 0px; 
  cellspacing : 0px; 
  width : 85%; 
  bgcolor : #f6f6ef;
}

#table-internal{
  border : 0px;
  cellpadding : 0;
  cellspacing : 0;
  width : 100%; 
  padding : 2px;
}

.row-blue{
  background-color: #414b82;
}

.row-green {
  background-color: #8BC34A;  /* Light green. */
}

.logo-container{
  width:18px;
  padding-right:4px;
}

.logo-img{
  width:18px;
  height:18px;
  border:1px #ffffff solid;
}

#submit-button{
  display: none;
}

#logout-btn{
  display: none;
}

.twitter-typeahead { width:300px; display: inline-block; }
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { 
  width: 100%; 
  margin: 0px; 
  padding: 5px 5px; 
  border: 1px solid #ccc; 
  outline: none; 
}
.twitter-typeahead .tt-input:focus { 
  border: 2px solid #0097cf; 
}
.twitter-typeahead .tt-hint { 
  color: #999; 
}
.twitter-typeahead .tt-dropdown-menu { 
  width: 100%; 
  padding: 0; 
  background-color: #fff; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-top: 0px; 
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion { 
  text-align: left; 
  padding: 3px 10px; 
  font-size: 14px; 
  line-height: 16px; 
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { 
  color: #fff; 
  background-color: #0097cf; 
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em { 
  font-weight: bold; 
  font-style: normal; 
}